In [137]:
import pandas as pd

In [138]:
all_players_df = pd.read_csv("player_data.csv")
all_matches_df = pd.read_csv("match_data.csv")
all_matches_with_data_df = pd.read_csv("match_url.csv")
player_match_data_df = pd.read_csv('player_match_data_joined.csv')

In [139]:
all_players_df

,Player_Name,Country,Mat_Bat,Inns_Bat,NO,Runs,HS,Ave,BF,SR,...,Runs.1,Wkts,BBI,BBM,Ave.1,Econ,SR.1,4w,5w,10w
0,Karim Sadiq Khan,Afghanistan,36,36,0,538,72,14.94,493,109.12,...,482,14,Mar-17,Mar-17,34.42,6.88,30,0,0,0
1,Shafiqullah Shafiq,Afghanistan,46,42,12,494,51*,16.46,340,145.29,...,-,-,-,-,-,-,-,-,-,-
2,Mohammad Shahzad Mohammadi,Afghanistan,65,65,3,1936,118*,31.22,1436,134.81,...,-,-,-,-,-,-,-,-,-,-
3,Nawroz Khan Mangal,Afghanistan,32,32,4,505,65*,18.03,453,111.47,...,80,4,Mar-23,Mar-23,20,8,15,0,0,0
4,Mohammad Asghar Afghan,Afghanistan,72,66,5,1341,62,21.98,1217,110.18,...,4,1,01-Apr,01-Apr,4,6,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,Loku Hettige Danushka Dilhara,Sri Lanka,2,1,1,18,18*,-,9,200,...,30,2,02-Jun,02-Jun,15,6,15,0,0,0
1499,Hettiarachchi Gamage Jeevantha Mahesh Kulatunga,Sri Lanka,2,2,0,19,11,9.5,38,50,...,-,-,-,-,-,-,-,-,-,-
1500,Abzal S Dean,Canada,2,2,0,8,7,4,10,80,...,32,2,Feb-18,Feb-18,16,8,12,0,0,0
1501,Sandeep Jyoti,Canada,2,2,1,10,10*,10,20,50,...,-,-,-,-,-,-,-,-,-,-
1502,Pathum Nissanka Silva,Sri Lanka,4,3,0,81,39,27,70,115.71,...,-,-,-,-,-,-,-,-,-,-

In [140]:
headers = ['match_url', 'player_name', 'player_country']
player_match_data_df.columns = headers 
player_match_data_df = player_match_data_df.reset_index(drop=True)
player_match_data_df

,match_url,player_name,player_country
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan
1,https://www.espncricinfo.com/ci/engine/match/4...,Shafiqullah Shafiq,Afghanistan
2,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Shahzad Mohammadi,Afghanistan
3,https://www.espncricinfo.com/ci/engine/match/4...,Nawroz Khan Mangal,Afghanistan
4,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Asghar Afghan,Afghanistan
...,...,...,...
26430,https://www.espncricinfo.com/ci/engine/match/1...,Andre Dwayne Russell,West Indies
26431,https://www.espncricinfo.com/ci/engine/match/1...,Kesrick Omari Kenal Williams,West Indies
26432,https://www.espncricinfo.com/ci/engine/match/1...,Keemo Mandela Angus Paul,West Indies
26433,https://www.espncricinfo.com/ci/engine/match/1...,Carlos Ricardo Brathwaite,West Indies
26434,https://www.espncricinfo.com/ci/engine/match/1...,Ashley Renaldo Nurse,West Indies

In [141]:
all_matches_with_data_df = all_matches_with_data_df.reset_index()
headers = ['match_url', 'team_1', 'Result', 'winning_margin', 'BR', 'Toss', 'Bat', 'Unnamed0', 'team_2','Ground','Date','Unnamed1','Unnamed2']
all_matches_with_data_df.columns = headers 
all_matches_with_data_df = all_matches_with_data_df.drop(['BR','Bat','Toss','Unnamed0','Ground','Unnamed1', 'Unnamed2'], axis = 1)
all_matches_with_data_df['team_2'] = all_matches_with_data_df['team_2'].str.replace('v ','')
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
1637,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,56 runs,Australia,10 Jul 2021
1638,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,6 wickets,Australia,12 Jul 2021
1639,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,lost,4 runs,Australia,14 Jul 2021
1640,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,16 runs,Australia,16 Jul 2021
1641,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,lost,7 runs,Pakistan,31 Jul 2021

In [142]:
all_matches_with_data_df = all_matches_with_data_df.drop_duplicates(subset=['match_url'])
all_matches_with_data_df = all_matches_with_data_df.reset_index(drop=True)
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
938,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021
939,https://www.espncricinfo.com/ci/engine/match/4...,West Indies,lost,26 runs,Zimbabwe,28 Feb 2010
940,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,8 wickets,Zimbabwe,2 Mar 2013
941,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,41 runs,Zimbabwe,3 Mar 2013
942,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,72 runs,ICC World XI,31 May 2018

In [143]:
xigames = []
for i in range(len(all_matches_with_data_df)):
    if all_matches_with_data_df['team_2'][i] == 'World-XI' or all_matches_with_data_df['team_2'][i] == 'ICC World XI':
        xigames.append(all_matches_with_data_df['match_url'][i])

In [144]:
for i in range(len(all_matches_with_data_df)):
    for j in range(len(xigames)):
        if xigames[j] == all_matches_with_data_df['match_url'][i]:
            all_matches_with_data_df = all_matches_with_data_df.drop([i], axis = 0)
            break
                                                  
all_matches_with_data_df = all_matches_with_data_df.reset_index(drop=True)
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
934,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,won,43 runs,West Indies,5 Mar 2021
935,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021
936,https://www.espncricinfo.com/ci/engine/match/4...,West Indies,lost,26 runs,Zimbabwe,28 Feb 2010
937,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,8 wickets,Zimbabwe,2 Mar 2013
938,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,41 runs,Zimbabwe,3 Mar 2013

In [145]:
for i in range(len(player_match_data_df)):
    for j in range(len(xigames)):
        if xigames[j] == player_match_data_df['match_url'][i]:
            player_match_data_df = player_match_data_df.drop([i], axis = 0)
            break
                                                  
player_match_data_df = player_match_data_df.reset_index(drop=True)
player_match_data_df

,match_url,player_name,player_country
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan
1,https://www.espncricinfo.com/ci/engine/match/4...,Shafiqullah Shafiq,Afghanistan
2,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Shahzad Mohammadi,Afghanistan
3,https://www.espncricinfo.com/ci/engine/match/4...,Nawroz Khan Mangal,Afghanistan
4,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Asghar Afghan,Afghanistan
...,...,...,...
26320,https://www.espncricinfo.com/ci/engine/match/5...,Sunil Philip Narine,West Indies
26321,https://www.espncricinfo.com/ci/engine/match/5...,Dwayne John Bravo,West Indies
26322,https://www.espncricinfo.com/ci/engine/match/5...,Andre Dwayne Russell,West Indies
26323,https://www.espncricinfo.com/ci/engine/match/5...,Kieron Adrian Pollard,West Indies
26324,https://www.espncricinfo.com/ci/engine/match/5...,Christopher Dion Barnwell,West Indies

In [146]:
headers = ['player_name','player_country','Matches','Bat_Inns','NO',
           'Bat_Runs','HS','Bat_Ave','BF','SR_Bat','100s','50s','4s',
           '6s','Ct','St','Mat_Bowl','Bowl_Inns','Balls','Bowl_Runs',
           'Wkts','BBI','BBM','Bowl_Ave','Bowl_Econ','Bowl_SR','4w','5w','10w']
all_players_df.columns = headers 
all_players_df = all_players_df.reset_index()
all_players_df = all_players_df.drop(['index','BF','Ct','St','Mat_Bowl','10w','BBI','Bowl_Runs','Balls','BBM'], axis = 1)
all_players_df.replace("-",'NaN', inplace=True)
all_players_df['HS'] = all_players_df['HS'].str.replace("*",'')
all_players_df

<ipython-input-146-328b20f71f37>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_players_df['HS'] = all_players_df['HS'].str.replace("*",'')

,player_name,player_country,Matches,Bat_Inns,NO,Bat_Runs,HS,Bat_Ave,SR_Bat,100s,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,Karim Sadiq Khan,Afghanistan,36,36,0,538,72,14.94,109.12,0,1,61,10,28,14,34.42,6.88,30,0,0
1,Shafiqullah Shafiq,Afghanistan,46,42,12,494,51,16.46,145.29,0,1,35,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mohammad Shahzad Mohammadi,Afghanistan,65,65,3,1936,118,31.22,134.81,1,12,218,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nawroz Khan Mangal,Afghanistan,32,32,4,505,65,18.03,111.47,0,2,42,19,6,4,20,8,15,0,0
4,Mohammad Asghar Afghan,Afghanistan,72,66,5,1341,62,21.98,110.18,0,4,83,67,1,1,4,6,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,Loku Hettige Danushka Dilhara,Sri Lanka,2,1,1,18,18,NaN,200,0,0,0,1,2,2,15,6,15,0,0
1499,Hettiarachchi Gamage Jeevantha Mahesh Kulatunga,Sri Lanka,2,2,0,19,11,9.5,50,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500,Abzal S Dean,Canada,2,2,0,8,7,4,80,0,0,0,0,2,2,16,8,12,0,0
1501,Sandeep Jyoti,Canada,2,2,1,10,10,10,50,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1502,Pathum Nissanka Silva,Sri Lanka,4,3,0,81,39,27,115.71,0,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
matches_df = pd.merge(player_match_data_df, all_matches_with_data_df, on=['match_url'], how='outer')
merged_df = pd.merge(matches_df, all_players_df, on=['player_name'], how='outer')
merged_df = merged_df.drop_duplicates()
merged_df = merged_df.reset_index(drop=True)
merged_df

,match_url,player_name,player_country_x,team_1,Result,winning_margin,team_2,Date,player_country_y,Matches,...,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
1,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,5 wickets,Canada,4 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
2,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,13 runs,Ireland,9 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
3,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,14 runs,Scotland,10 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
4,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19896,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,won,43 runs,West Indies,5 Mar 2021,Sri Lanka,4.0,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19897,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021,Sri Lanka,4.0,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19898,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Ireland,lost,7 wickets,U.A.E.,10 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19899,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Namibia,won,5 wickets,Scotland,9 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19900,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Namibia,won,14 runs,P.N.G.,10 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
merged_df_copy = merged_df.copy()

players_diff_name = []

for i in range(len(merged_df_copy)):
    if merged_df_copy['player_country_x'][i] != merged_df_copy['team_1'][i] and merged_df_copy['player_country_x'][i] != merged_df_copy['team_2'][i]:
        players_diff_name.append(merged_df_copy['player_name'][i])

merged_df = merged_df[~merged_df['player_name'].isin(players_diff_name)] 
merged_df = merged_df.reset_index(drop=True)

In [149]:
list = []
for i in range(len(merged_df)):
    if merged_df['Result'][i] == 'won':
        list.append(1)
    else:
        list.append(0)
        
merged_df['Output'] = list

In [150]:
merged_df = merged_df.drop(labels=['player_country_y'], axis=1)
merged_df

,match_url,player_name,player_country_x,team_1,Result,winning_margin,team_2,Date,Matches,Bat_Inns,...,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w,Output
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010,36.0,36,...,61,10,28,14,34.42,6.88,30,0,0,0
1,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,5 wickets,Canada,4 Feb 2010,36.0,36,...,61,10,28,14,34.42,6.88,30,0,0,1
2,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,13 runs,Ireland,9 Feb 2010,36.0,36,...,61,10,28,14,34.42,6.88,30,0,0,1
3,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,14 runs,Scotland,10 Feb 2010,36.0,36,...,61,10,28,14,34.42,6.88,30,0,0,1
4,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010,36.0,36,...,61,10,28,14,34.42,6.88,30,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19579,https://www.espncricinfo.com/ci/engine/match/3...,Abzal S Dean,Canada,Sri Lanka,won,15 runs,Canada,12 Oct 2008,2.0,2,...,0,0,2,2,16,8,12,0,0,1
19580,https://www.espncricinfo.com/ci/engine/match/3...,Sandeep Jyoti,Canada,Sri Lanka,won,15 runs,Canada,12 Oct 2008,2.0,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
19581,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,4 wickets,West Indies,3 Mar 2021,4.0,3,...,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19582,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,won,43 runs,West Indies,5 Mar 2021,4.0,3,...,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
19583,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021,4.0,3,...,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [151]:
cols = ['Bat_Inns','NO','Bat_Runs','HS','Bat_Ave','SR_Bat',
        '100s','50s','4s','6s','Bowl_Inns','Wkts','Bowl_Ave',
        'Bowl_Econ','Bowl_SR','4w','5w']
merged_df[cols] = merged_df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [152]:
grouped_df = merged_df.groupby(['match_url','player_country_x'])

data_agg_df = grouped_df['Matches','Bat_Inns','NO','Bat_Runs','HS',
           'Bat_Ave','SR_Bat','100s','50s','4s','6s',
           'Bowl_Inns','Wkts','Bowl_Ave','Bowl_Econ',
           'Bowl_SR','4w','5w'].agg(['mean','max','min']).reset_index()

<ipython-input-152-0a878d83738f>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_agg_df = grouped_df['Matches','Bat_Inns','NO','Bat_Runs','HS',

In [153]:
dataframe1 = data_agg_df.iloc[::2, :].reset_index(drop=True)
dataframe2 = data_agg_df.iloc[1::2, :].reset_index(drop=True)

concatenated_dataframes = pd.merge(dataframe1, dataframe2, on=['match_url'], how='outer')
concatenated_dataframes.head(20)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

                                            match_url player_country_x_x  \

0   https://www.espncricinfo.com/ci/engine/match/1...          Australia
1   https://www.espncricinfo.com/ci/engine/match/1...          Australia
2   https://www.espncricinfo.com/ci/engine/match/1...          Australia
3   https://www.espncricinfo.com/ci/engine/match/1...          Hong Kong
4   https://www.espncricinfo.com/ci/engine/match/1...              India
5   https://www.espncricinfo.com/ci/engine/match/1...              India
6   https://www.espncricinfo.com/ci/engine/match/1...              India
7   https://www.espncricinfo.com/ci/engine/match/1...         Bangladesh
8   https://www.espncricinfo.com/ci/engine/match/1...         Bangladesh
9   https://www.espncricinfo.com/ci/engine/match/1...         Bangladesh
10  https://www.espncricinfo.com/ci/engine/match/1...        New Zealand
11  https://www.espncricinfo.com/ci/engine/match/1...            England
12  https://www.espncricinfo.com/ci/engine/match/1...            England
13  https://www.espncricinfo.com/ci/engine/match/1...            England
14  https://www.espncricinfo.com/ci/engine/match/1...            England
15  https://www.espncricinfo.com/ci/engine/match/1...            England
16  https://www.espncricinfo.com/ci/engine/match/1...            England
17  https://www.espncricinfo.com/ci/engine/match/1...            England
18  https://www.espncricinfo.com/ci/engine/match/1...        Afghanistan
19  https://www.espncricinfo.com/ci/engine/match/1...        Afghanistan

    Matches_x              Bat_Inns_x                   NO_x        ...  \
         mean    max   min       mean    max   min      mean   max  ...
0   27.636364   76.0   3.0  17.909091   76.0   2.0  4.454545  10.0  ...
1   23.090909   76.0   3.0  17.727273   76.0   3.0  4.181818  10.0  ...
2   24.727273   76.0   3.0  17.454545   76.0   3.0  4.090909  10.0  ...
3   22.200000   43.0   5.0  18.000000   41.0   1.0  3.300000   8.0  ...
4   29.636364   98.0   1.0  19.600000   85.0   1.0  7.800000  42.0  ...
5   23.857143   50.0   2.0  11.166667   45.0   1.0  3.000000   6.0  ...
6   29.000000   98.0   2.0  19.600000   85.0   1.0  7.800000  42.0  ...
7   50.909091  102.0  14.0  43.909091   94.0  13.0  7.545455  21.0  ...
8   50.909091  102.0  14.0  43.909091   94.0  13.0  7.545455  21.0  ...
9   51.800000  102.0  16.0  46.200000   94.0  10.0  8.100000  21.0  ...
10  42.100000   83.0   6.0  31.500000   65.0   4.0  6.700000  15.0  ...
11  35.875000   65.0   2.0  31.714286   60.0   2.0  6.571429  18.0  ...
12  44.454545  107.0   6.0  35.909091  101.0   2.0  7.909091  19.0  ...
13  37.363636   82.0   2.0  33.100000   74.0   7.0  6.800000  18.0  ...
14  54.272727  107.0  22.0  42.545455  101.0  11.0  9.545455  19.0  ...
15  42.555556  107.0   5.0  35.666667  101.0   1.0  7.111111  19.0  ...
16  46.454545  107.0   5.0  37.000000  101.0   1.0  8.000000  19.0  ...
17  47.909091  107.0   5.0  37.818182  101.0   1.0  8.272727  19.0  ...
18  48.700000   81.0  12.0  38.200000   75.0   9.0  6.700000  13.0  ...
19  50.000000   81.0  12.0  39.636364   75.0   9.0  8.090909  22.0  ...

   Bowl_Econ_y  Bowl_SR_y                   4w_y                5w_y
           min       mean    max   min      mean  max  min      mean  max  min
0         7.18  26.450000   60.0  16.8  0.500000  2.0  0.0  0.250000  2.0  0.0
1         7.18  27.371429   60.0  16.8  0.428571  2.0  0.0  0.285714  2.0  0.0
2         7.18  25.950000   60.0  16.0  0.375000  2.0  0.0  0.250000  2.0  0.0
3         6.62  18.860000   26.6  14.5  0.500000  1.0  0.0  0.000000  0.0  0.0
4         6.94  24.666667   36.0  16.2  0.200000  1.0  0.0  0.000000  0.0  0.0
5         6.94  24.666667   36.0  16.2  0.200000  1.0  0.0  0.000000  0.0  0.0
6         6.66  21.875000   36.0  16.2  0.222222  1.0  0.0  0.000000  0.0  0.0
7         6.86  20.925000   29.5  11.5  0.250000  2.0  0.0  0.125000  1.0  0.0
8         7.38  20.766667   29.5  16.1  0.555556  2.0  0.0  0.000000  0.0  0.0
9         7.38  20.766667   29.5  16.1  0.555556  2.0  0.0  0.000000  0.0  0.0
10        2.25  16.157143   22.0  10.0  0.750000  2.0  0.0  0.250000  2.0  0.0
11        5.40  32.885714  136.0  10.0  0.750000  2.0  0.0  0.375000  2.0  0.0
12        5.40  33.542857  136.0  10.0  0.875000  2.0  0.0  0.000000  0.0  0.0
13        5.40  32.728571  136.0  10.0  0.875000  2.0  0.0  0.250000  2.0  0.0
14        6.01  20.633333   30.0  13.4  0.333333  1.0  0.0  0.000000  0.0  0.0
15        6.66  21.925000   36.5  15.1  0.375000  2.0  0.0  0.125000  1.0  0.0
16        6.31  20.700000   36.5  14.2  0.375000  2.0  0.0  0.125000  1.0  0.0
17        6.31  20.700000   36.5  14.2  0.375000  2.0  0.0  0.125000  1.0  0.0
18        6.62  19.971429   27.7  14.5  0.714286  1.0  0.0  0.000000  0.0  0.0
19        6.62  20.000000   27.7  14.5  0.714286  1.0  0.0  0.000000  0.0  0.0

[20 rows x 111 columns]

In [154]:
final_df = merged_df.copy()
final_df = final_df.drop_duplicates(subset='match_url')
final_df = final_df[['match_url', 'player_country_x','Result','Date','Output']]
final_df = final_df.reset_index(drop=True)

In [155]:
final_df = final_df.sort_values(by='match_url',ascending=True)
final_df = final_df.reset_index(drop=True)
final_df

,match_url,player_country_x,Result,Date,Output
0,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,17 Feb 2017,0
1,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,19 Feb 2017,0
2,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,won,22 Feb 2017,1
3,https://www.espncricinfo.com/ci/engine/match/1...,Ireland,lost,5 Sep 2016,0
4,https://www.espncricinfo.com/ci/engine/match/1...,India,lost,18 Jun 2016,0
...,...,...,...,...,...
931,https://www.espncricinfo.com/ci/engine/match/9...,Pakistan,won,4 Mar 2016,1
932,https://www.espncricinfo.com/ci/engine/match/9...,India,lost,6 Mar 2016,0
933,https://www.espncricinfo.com/ci/engine/match/9...,Netherlands,won,3 Feb 2016,1
934,https://www.espncricinfo.com/ci/engine/match/9...,Sri Lanka,won,6 Sep 2016,1
935,https://www.espncricinfo.com/ci/engine/match/9...,Sri Lanka,won,9 Sep 2016,1

In [156]:
# Team 1 Data
final_df['Matches_avg_team1'] = concatenated_dataframes['Matches_x']['mean']
final_df['Bat_Inns_avg_team1'] =concatenated_dataframes['Bat_Inns_x']['mean']
final_df['NO_avg_team1'] = concatenated_dataframes['NO_x']['mean']
final_df['Bat_Runs_avg_team1'] = concatenated_dataframes['Bat_Runs_x']['mean']
final_df['HS_avg_team1'] = concatenated_dataframes['HS_x']['mean']
final_df['HS_max_team1'] = concatenated_dataframes['HS_x']['max']
final_df['SR_bat_avg_team1'] = concatenated_dataframes['SR_Bat_x']['mean']
final_df['SR_bat_max_team1'] = concatenated_dataframes['SR_Bat_x']['max']
final_df['100s_avg_team1'] = concatenated_dataframes['100s_x']['mean']
final_df['100s_max_team1'] = concatenated_dataframes['100s_x']['max']
final_df['50s_avg_team1'] = concatenated_dataframes['50s_x']['mean']
final_df['50s_max_team1'] = concatenated_dataframes['50s_x']['max']
final_df['4s_avg_team1'] = concatenated_dataframes['4s_x']['mean']
final_df['4s_max_team1'] = concatenated_dataframes['4s_x']['max']
final_df['6s_avg_team1'] = concatenated_dataframes['6s_x']['mean']
final_df['6s_max_team1'] = concatenated_dataframes['6s_x']['max']
final_df['Bowl_Inns_avg_team1'] = concatenated_dataframes['Bowl_Inns_x']['mean']
final_df['Wkts_avg_team1'] = concatenated_dataframes['Wkts_x']['mean']
final_df['Wkts_max_team1'] = concatenated_dataframes['Wkts_x']['max']
final_df['Bowl_ave_avg_team1'] = concatenated_dataframes['Bowl_Ave_x']['mean']
final_df['Bowl_ave_min_team1'] = concatenated_dataframes['Bowl_Ave_x']['min']
final_df['Bowl_Econ_avg_team1'] = concatenated_dataframes['Bowl_Econ_x']['mean']
final_df['Bowl_Econ_min_team1'] = concatenated_dataframes['Bowl_Econ_x']['min']
final_df['SR_bowl__avg_team1'] = concatenated_dataframes['Bowl_SR_x']['mean']
final_df['SR_bowl__min_team1'] = concatenated_dataframes['Bowl_SR_x']['min']
final_df['4w_avg_team1'] = concatenated_dataframes['4w_x']['mean']
final_df['4w_max_team1'] = concatenated_dataframes['4w_x']['max']
final_df['5w_avg_team1'] = concatenated_dataframes['5w_x']['mean']
final_df['5w_max_team1'] = concatenated_dataframes['5w_x']['max']

# Team 2 Data
final_df['Matches_avg_team2'] = concatenated_dataframes['Matches_y']['mean']
final_df['Bat_Inns_avg_team2'] =concatenated_dataframes['Bat_Inns_y']['mean']
final_df['NO_avg_team2'] = concatenated_dataframes['NO_y']['mean']
final_df['Bat_Runs_avg_team2'] = concatenated_dataframes['Bat_Runs_y']['mean']
final_df['HS_avg_team2'] = concatenated_dataframes['HS_y']['mean']
final_df['HS_max_team2'] = concatenated_dataframes['HS_y']['max']
final_df['SR_bat_avg_team2'] = concatenated_dataframes['SR_Bat_y']['mean']
final_df['SR_bat_max_team2'] = concatenated_dataframes['SR_Bat_y']['max']
final_df['100s_avg_team2'] = concatenated_dataframes['100s_y']['mean']
final_df['100s_max_team2'] = concatenated_dataframes['100s_y']['max']
final_df['50s_avg_team2'] = concatenated_dataframes['50s_y']['mean']
final_df['50s_max_team2'] = concatenated_dataframes['50s_y']['max']
final_df['4s_avg_team2'] = concatenated_dataframes['4s_y']['mean']
final_df['4s_max_team2'] = concatenated_dataframes['4s_y']['max']
final_df['6s_avg_team2'] = concatenated_dataframes['6s_y']['mean']
final_df['6s_max_team2'] = concatenated_dataframes['6s_y']['max']
final_df['Bowl_Inns_avg_team2'] = concatenated_dataframes['Bowl_Inns_y']['mean']
final_df['Wkts_avg_team2'] = concatenated_dataframes['Wkts_y']['mean']
final_df['Wkts_max_team2'] = concatenated_dataframes['Wkts_y']['max']
final_df['Bowl_ave_avg_team2'] = concatenated_dataframes['Bowl_Ave_y']['mean']
final_df['Bowl_ave_min_team2'] = concatenated_dataframes['Bowl_Ave_y']['min']
final_df['Bowl_Econ_avg_team2'] = concatenated_dataframes['Bowl_Econ_y']['mean']
final_df['Bowl_Econ_min_team2'] = concatenated_dataframes['Bowl_Econ_y']['min']
final_df['SR_bowl__avg_team2'] = concatenated_dataframes['Bowl_SR_y']['mean']
final_df['SR_bowl__min_team2'] = concatenated_dataframes['Bowl_SR_y']['min']
final_df['4w_avg_team2'] = concatenated_dataframes['4w_y']['mean']
final_df['4w_max_team2'] = concatenated_dataframes['4w_y']['max']
final_df['5w_avg_team2'] = concatenated_dataframes['5w_y']['mean']
final_df['5w_max_team2'] = concatenated_dataframes['5w_y']['max']

In [157]:
final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df = final_df[(final_df['Date'] > '2010-10-01')]
final_df = final_df.drop(['player_country_x','Result','Date'],axis=1)
final_df = final_df.reset_index(drop=True)
final_df.to_csv('TrainingData.csv')
final_df

,match_url,Output,Matches_avg_team1,Bat_Inns_avg_team1,NO_avg_team1,Bat_Runs_avg_team1,HS_avg_team1,HS_max_team1,SR_bat_avg_team1,SR_bat_max_team1,...,Bowl_ave_avg_team2,Bowl_ave_min_team2,Bowl_Econ_avg_team2,Bowl_Econ_min_team2,SR_bowl__avg_team2,SR_bowl__min_team2,4w_avg_team2,4w_max_team2,5w_avg_team2,5w_max_team2
0,https://www.espncricinfo.com/ci/engine/match/1...,0,27.636364,17.909091,4.454545,347.545455,44.272727,172.0,112.213636,150.24,...,36.298750,20.79,8.041250,7.18,26.450000,16.8,0.500000,2.0,0.250000,2.0
1,https://www.espncricinfo.com/ci/engine/match/1...,0,23.090909,17.727273,4.181818,355.000000,46.363636,172.0,120.106364,150.24,...,38.025714,20.79,8.152857,7.18,27.371429,16.8,0.428571,2.0,0.285714,2.0
2,https://www.espncricinfo.com/ci/engine/match/1...,1,24.727273,17.454545,4.090909,351.454545,45.727273,172.0,119.066364,150.24,...,35.696250,19.39,8.038750,7.18,25.950000,16.0,0.375000,2.0,0.250000,2.0
3,https://www.espncricinfo.com/ci/engine/match/1...,0,22.200000,18.000000,3.300000,266.300000,43.700000,122.0,93.400000,126.58,...,24.142000,16.00,8.111667,6.62,18.860000,14.5,0.500000,1.0,0.000000,0.0
4,https://www.espncricinfo.com/ci/engine/match/1...,0,29.636364,19.600000,7.800000,422.300000,40.600000,110.0,100.942000,142.19,...,35.537778,18.85,8.516000,6.94,24.666667,16.2,0.200000,1.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,https://www.espncricinfo.com/ci/engine/match/9...,1,58.000000,44.909091,9.545455,871.545455,55.454545,99.0,115.060909,150.00,...,31.953750,19.39,7.933750,6.13,23.587500,16.0,0.375000,2.0,0.125000,1.0
758,https://www.espncricinfo.com/ci/engine/match/9...,0,56.181818,48.181818,7.818182,866.181818,54.454545,103.0,114.651818,136.10,...,40.565714,20.25,7.818571,6.66,29.128571,17.2,0.428571,2.0,0.000000,0.0
759,https://www.espncricinfo.com/ci/engine/match/9...,1,40.444444,27.777778,5.222222,469.888889,59.000000,133.0,111.307778,125.21,...,25.576667,19.70,7.420000,6.35,21.266667,18.0,0.142857,1.0,0.000000,0.0
760,https://www.espncricinfo.com/ci/engine/match/9...,1,35.555556,29.500000,5.750000,654.125000,60.125000,145.0,124.335000,158.92,...,32.204286,21.96,8.170000,6.77,23.657143,19.0,0.142857,1.0,0.000000,0.0
761,https://www.espncricinfo.com/ci/engine/match/9...,1,34.818182,26.000000,5.181818,541.727273,53.272727,145.0,133.643636,227.27,...,32.220000,21.96,7.814286,6.77,24.771429,19.0,0.142857,1.0,0.000000,0.0

In [158]:
squad_data = pd.read_csv('player_squad_data.csv')
squad_data = squad_data.reset_index(drop=True)
squad_data

,Player_Name,Country,Mat_Bat,Inns_Bat,NO,Runs,HS,Ave,BF,SR,...,Runs.1,Wkts,BBI,BBM,Ave.1,Econ,SR.1,4w,5w,10w
0,Merwe Gerhard Erasmus,Namibia,22.0,20,5,522,72,34.79,371,140.7,...,171,12,03-Dec,03-Dec,14.25,5.31,16,0,0,0
1,Stephan Julian Baard,Namibia,17.0,17,2,496,92,33.06,407,121.86,...,-,-,-,-,-,-,-,-,-,-
2,Karl Johan Birkenstock,Namibia,8.0,4,1,81,59,27,45,180,...,35,0,-,-,-,11.66,-,0,0,0
3,Michau Daniel du Preez,Namibia,3.0,2,2,62,33*,-,58,106.89,...,-,-,-,-,-,-,-,-,-,-
4,Jan Nicolaas Frylinck,Namibia,20.0,11,7,73,19*,18.25,62,117.74,...,378,35,Jun-24,Jun-24,10.8,5.89,11,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Glenn Dominic Phillips,New Zealand,25.0,22,4,506,108,28.11,338,149.7,...,57,2,01-Nov,01-Nov,28.5,7.6,22.5,0,0,0
241,Mitchell Josef Santner,New Zealand,52.0,37,15,335,37,15.22,264,126.89,...,1287,60,04-Nov,04-Nov,21.45,7.38,17.4,2,0,0
242,Tim Louis Seifert,New Zealand,35.0,32,4,695,84*,24.82,522,133.14,...,-,-,-,-,-,-,-,-,-,-
243,Inderbir Singh Sodhi,New Zealand,57.0,10,4,76,16*,12.66,70,108.57,...,1586,73,Apr-28,Apr-28,21.72,8.07,16.1,2,0,0
244,Timothy Grant Southee,New Zealand,83.0,35,13,249,39,11.31,174,143.1,...,2492,99,May-18,May-18,25.17,8.39,18,1,1,0

In [159]:
headers = ['player_name','player_country','Matches','Bat_Inns','NO',
           'Bat_Runs','HS','Bat_Ave','BF','SR_Bat','100s','50s','4s',
           '6s','Ct','St','Mat_Bowl','Bowl_Inns','Balls','Bowl_Runs',
           'Wkts','BBI','BBM','Bowl_Ave','Bowl_Econ','Bowl_SR','4w','5w','10w']
squad_data.columns = headers 
squad_data = squad_data.reset_index()
squad_data = squad_data.drop(['index','BF','Ct','St','Mat_Bowl','10w','BBI','Bowl_Runs','Balls','BBM'], axis = 1)
squad_data.replace("-",'NaN', inplace=True)
squad_data['HS'] = squad_data['HS'].str.replace("*",'')
squad_data

<ipython-input-159-1b66c8eabfc9>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  squad_data['HS'] = squad_data['HS'].str.replace("*",'')

,player_name,player_country,Matches,Bat_Inns,NO,Bat_Runs,HS,Bat_Ave,SR_Bat,100s,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,Merwe Gerhard Erasmus,Namibia,22.0,20,5,522,72,34.79,140.7,0,5,43,24,10,12,14.25,5.31,16,0,0
1,Stephan Julian Baard,Namibia,17.0,17,2,496,92,33.06,121.86,0,4,41,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Karl Johan Birkenstock,Namibia,8.0,4,1,81,59,27,180,0,1,9,4,3,0,NaN,11.66,NaN,0,0
3,Michau Daniel du Preez,Namibia,3.0,2,2,62,33,NaN,106.89,0,0,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jan Nicolaas Frylinck,Namibia,20.0,11,7,73,19,18.25,117.74,0,0,4,2,19,35,10.8,5.89,11,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Glenn Dominic Phillips,New Zealand,25.0,22,4,506,108,28.11,149.7,1,2,39,29,4,2,28.5,7.6,22.5,0,0
241,Mitchell Josef Santner,New Zealand,52.0,37,15,335,37,15.22,126.89,0,0,24,11,51,60,21.45,7.38,17.4,2,0
242,Tim Louis Seifert,New Zealand,35.0,32,4,695,84,24.82,133.14,0,5,57,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Inderbir Singh Sodhi,New Zealand,57.0,10,4,76,16,12.66,108.57,0,0,4,5,55,73,21.72,8.07,16.1,2,0
244,Timothy Grant Southee,New Zealand,83.0,35,13,249,39,11.31,143.1,0,0,16,16,81,99,25.17,8.39,18,1,1

In [160]:
cols = ['Bat_Inns','NO','Bat_Runs','HS','Bat_Ave','SR_Bat',
        '100s','50s','4s','6s','Bowl_Inns','Wkts','Bowl_Ave',
        'Bowl_Econ','Bowl_SR','4w','5w']
squad_data[cols] = squad_data[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [161]:
squad_group = squad_data.groupby(['player_country'])

squad_data_agg_df = squad_group['Matches','Bat_Inns','NO','Bat_Runs','HS',
           'Bat_Ave','SR_Bat','100s','50s','4s','6s',
           'Bowl_Inns','Wkts','Bowl_Ave','Bowl_Econ',
           'Bowl_SR','4w','5w'].agg(['mean','max','min']).reset_index()

<ipython-input-161-4dde3351baa4>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  squad_data_agg_df = squad_group['Matches','Bat_Inns','NO','Bat_Runs','HS',

In [162]:
squad_data_agg_df

   player_country    Matches                Bat_Inns                    NO  \
                        mean    max   min       mean    max  min      mean
0     Afghanistan  35.133333   81.0   4.0  27.400000   75.0  1.0  5.533333
1       Australia  36.555556   81.0   2.0  25.388889   81.0  1.0  5.444444
2      Bangladesh  42.357143  102.0   7.0  35.071429   94.0  5.0  5.785714
3         England  39.937500  107.0   5.0  30.500000  101.0  1.0  7.312500
4           India  38.533333  111.0   3.0  25.714286  103.0  1.0  6.428571
5         Ireland  38.642857  107.0   4.0  31.357143  100.0  4.0  5.571429
6         Namibia  13.266667   23.0   1.0   9.142857   20.0  1.0  2.571429
7     Netherlands  30.357143   74.0   7.0  21.142857   53.0  3.0  5.071429
8     New Zealand  37.866667  102.0   4.0  26.000000   98.0  1.0  5.333333
9            Oman  20.153846   35.0   4.0  14.153846   31.0  2.0  3.000000
10         P.N.G.  18.071429   28.0   1.0  13.769231   26.0  2.0  3.384615
11       Pakistan  46.437500  116.0   4.0  33.812500  106.0  1.0  7.437500
12       Scotland  31.562500   66.0   1.0  25.857143   61.0  2.0  5.071429
13   South Africa  27.866667   90.0   3.0  21.428571   80.0  3.0  4.928571
14      Sri Lanka  21.933333   59.0   3.0  18.066667   52.0  1.0  2.866667
15    West Indies  47.071429   88.0  12.0  38.285714   71.0  5.0  7.571429

               ... Bowl_Econ    Bowl_SR                    4w            \
     max  min  ...       min       mean   max   min      mean  max  min
0   22.0  0.0  ...      6.00  16.077778  26.4   4.0  0.888889  3.0  0.0
1   10.0  0.0  ...      6.25  18.120000  25.4   9.6  0.062500  1.0  0.0
2   21.0  1.0  ...      5.50  20.400000  28.6  14.9  0.900000  4.0  0.0
3   19.0  0.0  ...      6.78  21.409091  38.0  12.0  0.454545  2.0  0.0
4   24.0  0.0  ...      5.30  26.800000  68.0  14.6  0.454545  2.0  0.0
5   19.0  1.0  ...      7.00  20.281818  27.7  12.7  0.454545  2.0  0.0
6    7.0  0.0  ...      5.31  19.790000  42.0  11.0  0.166667  1.0  0.0
7   12.0  1.0  ...      5.88  20.863636  30.0  13.9  0.545455  2.0  0.0
8   15.0  0.0  ...      6.86  18.600000  43.0   8.5  0.538462  2.0  0.0
9    8.0  0.0  ...      6.48  23.744444  46.0  14.3  0.700000  3.0  0.0
10   9.0  0.0  ...      4.66  17.666667  34.0   8.0  0.166667  1.0  0.0
11  31.0  1.0  ...      6.40  19.466667  23.1  15.7  0.363636  1.0  0.0
12  12.0  1.0  ...      4.25  18.276923  34.8   6.0  0.307692  2.0  0.0
13  25.0  1.0  ...      4.22  17.688889  26.0  13.1  0.272727  2.0  0.0
14   8.0  0.0  ...      6.57  31.022222  72.0  14.1  0.222222  1.0  0.0
15  18.0  2.0  ...      6.92  17.330000  22.5   7.1  0.700000  3.0  0.0

          5w
        mean  max  min
0   0.333333  2.0  0.0
1   0.125000  2.0  0.0
2   0.200000  1.0  0.0
3   0.000000  0.0  0.0
4   0.090909  1.0  0.0
5   0.000000  0.0  0.0
6   0.166667  1.0  0.0
7   0.000000  0.0  0.0
8   0.153846  1.0  0.0
9   0.000000  0.0  0.0
10  0.166667  1.0  0.0
11  0.090909  1.0  0.0
12  0.153846  1.0  0.0
13  0.090909  1.0  0.0
14  0.000000  0.0  0.0
15  0.100000  1.0  0.0

[16 rows x 55 columns]

In [163]:
final_squad_data = squad_data.copy()
final_squad_data = final_squad_data.drop_duplicates('player_country')
final_squad_data = final_squad_data[['player_country']]
final_squad_data = final_squad_data.sort_values(by='player_country', ascending=True)
final_squad_data = final_squad_data.reset_index(drop=True)

final_squad_data['Matches_avg'] = squad_data_agg_df['Matches']['mean']
final_squad_data['Bat_Inns_avg'] = squad_data_agg_df['Bat_Inns']['mean']
final_squad_data['NO_avg'] = squad_data_agg_df['NO']['mean']
final_squad_data['Bat_Runs_avg'] = squad_data_agg_df['Bat_Runs']['mean']
final_squad_data['HS_avg'] = squad_data_agg_df['HS']['mean']
final_squad_data['HS_max'] = squad_data_agg_df['HS']['max']
final_squad_data['SR_bat_avg'] = squad_data_agg_df['SR_Bat']['mean']
final_squad_data['SR_bat_max'] = squad_data_agg_df['SR_Bat']['max']
final_squad_data['100s_avg'] = squad_data_agg_df['100s']['mean']
final_squad_data['100s_max'] = squad_data_agg_df['100s']['max']
final_squad_data['50s_avg'] = squad_data_agg_df['50s']['mean']
final_squad_data['50s_max'] = squad_data_agg_df['50s']['max']
final_squad_data['4s_avg'] = squad_data_agg_df['4s']['mean']
final_squad_data['4s_max'] = squad_data_agg_df['4s']['max']
final_squad_data['6s_avg'] = squad_data_agg_df['6s']['mean']
final_squad_data['6s_max'] = squad_data_agg_df['6s']['max']
final_squad_data['Bowl_Inns_avg'] = squad_data_agg_df['Bowl_Inns']['mean']
final_squad_data['Wkts_avg'] = squad_data_agg_df['Wkts']['mean']
final_squad_data['Wkts_max'] = squad_data_agg_df['Wkts']['max']
final_squad_data['Bowl_ave_avg'] = squad_data_agg_df['Bowl_Ave']['mean']
final_squad_data['Bowl_ave_min'] = squad_data_agg_df['Bowl_Ave']['min']
final_squad_data['Bowl_Econ_avg'] = squad_data_agg_df['Bowl_Econ']['mean']
final_squad_data['Bowl_Econ_min'] = squad_data_agg_df['Bowl_Econ']['min']
final_squad_data['SR_bowl__avg'] = squad_data_agg_df['Bowl_SR']['mean']
final_squad_data['SR_bowl__min'] = squad_data_agg_df['Bowl_SR']['min']
final_squad_data['4w_avg'] = squad_data_agg_df['4w']['mean']
final_squad_data['4w_max'] = squad_data_agg_df['4w']['max']
final_squad_data['5w_avg'] = squad_data_agg_df['5w']['mean']
final_squad_data['5w_max'] = squad_data_agg_df['5w']['max']

In [164]:
final_squad_data.to_csv('SquadData.csv')

In [165]:
final_squad_data

,player_country,Matches_avg,Bat_Inns_avg,NO_avg,Bat_Runs_avg,HS_avg,HS_max,SR_bat_avg,SR_bat_max,100s_avg,...,Bowl_ave_avg,Bowl_ave_min,Bowl_Econ_avg,Bowl_Econ_min,SR_bowl__avg,SR_bowl__min,4w_avg,4w_max,5w_avg,5w_max
0,Afghanistan,35.133333,27.400000,5.533333,555.466667,57.666667,162.0,125.007333,160.00,0.133333,...,19.708889,4.00,7.100000,6.00,16.077778,4.0,0.888889,3.0,0.333333,2.0
1,Australia,36.555556,25.388889,5.444444,542.555556,53.666667,172.0,127.463333,234.78,0.333333,...,23.718667,10.00,8.093750,6.25,18.120000,9.6,0.062500,1.0,0.125000,2.0
2,Bangladesh,42.357143,35.071429,5.785714,589.857143,45.571429,84.0,108.489286,144.00,0.000000,...,26.467778,15.55,7.442000,5.50,20.400000,14.9,0.900000,4.0,0.200000,1.0
3,England,39.937500,30.500000,7.312500,596.375000,53.562500,103.0,123.708125,167.47,0.125000,...,29.258182,20.76,8.532727,6.78,21.409091,12.0,0.454545,2.0,0.000000,0.0
4,India,38.533333,25.714286,6.428571,662.071429,47.642857,118.0,118.130714,197.14,0.428571,...,35.890000,19.57,7.792727,5.30,26.800000,14.6,0.454545,2.0,0.090909,1.0
5,Ireland,38.642857,31.357143,5.571429,549.285714,51.928571,124.0,117.232143,148.14,0.142857,...,27.105455,14.91,7.900000,7.00,20.281818,12.7,0.454545,2.0,0.000000,0.0
6,Namibia,13.266667,9.142857,2.571429,170.000000,36.000000,92.0,105.559286,180.00,0.000000,...,20.616000,10.80,6.914167,5.31,19.790000,11.0,0.166667,1.0,0.166667,1.0
7,Netherlands,30.357143,21.142857,5.071429,395.000000,52.428571,133.0,103.898571,137.20,0.071429,...,27.805455,16.00,7.924545,5.88,20.863636,13.9,0.545455,2.0,0.000000,0.0
8,New Zealand,37.866667,26.000000,5.333333,543.933333,51.333333,108.0,118.993333,157.28,0.200000,...,26.313333,11.71,8.519231,6.86,18.600000,8.5,0.538462,2.0,0.153846,1.0
9,Oman,20.153846,14.153846,3.000000,230.615385,38.769231,72.0,107.663846,171.42,0.000000,...,27.838889,16.25,7.135000,6.48,23.744444,14.3,0.700000,3.0,0.000000,0.0
10,P.N.G.,18.071429,13.769231,3.384615,232.076923,38.692308,107.0,111.427692,177.77,0.076923,...,17.127778,6.22,6.183333,4.66,17.666667,8.0,0.166667,1.0,0.166667,1.0
11,Pakistan,46.437500,33.812500,7.437500,719.250000,54.875000,122.0,120.441875,188.88,0.125000,...,25.312222,21.73,8.615455,6.40,19.466667,15.7,0.363636,1.0,0.090909,1.0
12,Scotland,31.562500,25.857143,5.071429,495.071429,47.000000,127.0,117.697857,158.33,0.142857,...,23.423077,14.20,8.336154,4.25,18.276923,6.0,0.307692,2.0,0.153846,1.0
13,South Africa,27.866667,21.428571,4.928571,491.928571,50.071429,101.0,112.756429,165.68,0.071429,...,21.514444,14.33,9.240909,4.22,17.688889,13.1,0.272727,2.0,0.090909,1.0
14,Sri Lanka,21.933333,18.066667,2.866667,290.800000,38.533333,84.0,103.726000,166.66,0.000000,...,40.775556,15.47,7.763333,6.57,31.022222,14.1,0.222222,1.0,0.000000,0.0
15,West Indies,47.071429,38.285714,7.571429,755.142857,59.500000,125.0,121.215000,158.03,0.285714,...,23.674000,12.00,8.281000,6.92,17.330000,7.1,0.700000,3.0,0.100000,1.0