The aim of this notebook is to preprocessing all the required data into a single training csv that the model can be trained against.

In [6]:
import pandas as pd

In [7]:
# Creating four data frames with the generated data from the obtainer notebook
all_players_df = pd.read_csv("player_data.csv")
all_matches_df = pd.read_csv("match_data.csv")
all_matches_with_data_df = pd.read_csv("match_url.csv")
player_match_data_df = pd.read_csv('player_match_data.csv')

In [8]:
headers = ['match_url', 'player_name', 'player_country']
player_match_data_df.columns = headers 
player_match_data_df = player_match_data_df.reset_index(drop=True)
player_match_data_df

,match_url,player_name,player_country
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan
1,https://www.espncricinfo.com/ci/engine/match/4...,Shafiqullah Shafiq,Afghanistan
2,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Shahzad Mohammadi,Afghanistan
3,https://www.espncricinfo.com/ci/engine/match/4...,Nawroz Khan Mangal,Afghanistan
4,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Asghar Afghan,Afghanistan
...,...,...,...
26402,https://www.espncricinfo.com/ci/engine/match/1...,Andre Dwayne Russell,West Indies
26403,https://www.espncricinfo.com/ci/engine/match/1...,Kesrick Omari Kenal Williams,West Indies
26404,https://www.espncricinfo.com/ci/engine/match/1...,Keemo Mandela Angus Paul,West Indies
26405,https://www.espncricinfo.com/ci/engine/match/1...,Carlos Ricardo Brathwaite,West Indies
26406,https://www.espncricinfo.com/ci/engine/match/1...,Ashley Renaldo Nurse,West Indies

In [9]:
all_matches_with_data_df = all_matches_with_data_df.reset_index()
headers = ['match_url', 'team_1', 'Result', 'winning_margin', 'BR', 'Toss', 'Bat', 'Unnamed0', 'team_2','Ground','Date','Unnamed1','Unnamed2']
all_matches_with_data_df.columns = headers 
all_matches_with_data_df = all_matches_with_data_df.drop(['BR','Bat','Toss','Unnamed0','Ground','Unnamed1', 'Unnamed2'], axis = 1)
all_matches_with_data_df['team_2'] = all_matches_with_data_df['team_2'].str.replace('v ','')
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
1637,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,56 runs,Australia,10 Jul 2021
1638,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,6 wickets,Australia,12 Jul 2021
1639,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,lost,4 runs,Australia,14 Jul 2021
1640,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,16 runs,Australia,16 Jul 2021
1641,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,lost,7 runs,Pakistan,31 Jul 2021

In [10]:
# The inital prased data records each game twice, this line removes the duplicates
all_matches_with_data_df = all_matches_with_data_df.drop_duplicates(subset=['match_url'])
all_matches_with_data_df = all_matches_with_data_df.reset_index(drop=True)
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
938,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021
939,https://www.espncricinfo.com/ci/engine/match/4...,West Indies,lost,26 runs,Zimbabwe,28 Feb 2010
940,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,8 wickets,Zimbabwe,2 Mar 2013
941,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,41 runs,Zimbabwe,3 Mar 2013
942,https://www.espncricinfo.com/ci/engine/match/1...,West Indies,won,72 runs,ICC World XI,31 May 2018

In [11]:
# Special exhitbition T20I games were played these are World-XI or ICC World XI teams. This line stores thoses matches. 
xigames = []
for i in range(len(all_matches_with_data_df)):
    if all_matches_with_data_df['team_2'][i] == 'World-XI' or all_matches_with_data_df['team_2'][i] == 'ICC World XI':
        xigames.append(all_matches_with_data_df['match_url'][i])

In [12]:
# Dropping the xigames match_urls from matches dataframe so all players don't have multiple teams
for i in range(len(all_matches_with_data_df)):
    for j in range(len(xigames)):
        if xigames[j] == all_matches_with_data_df['match_url'][i]:
            all_matches_with_data_df = all_matches_with_data_df.drop([i], axis = 0)
            break
                                                  
all_matches_with_data_df = all_matches_with_data_df.reset_index(drop=True)
all_matches_with_data_df

,match_url,team_1,Result,winning_margin,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010
1,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,5 wickets,Canada,4 Feb 2010
2,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,13 runs,Ireland,9 Feb 2010
3,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,won,14 runs,Scotland,10 Feb 2010
4,https://www.espncricinfo.com/ci/engine/match/4...,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010
...,...,...,...,...,...,...
934,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,won,43 runs,West Indies,5 Mar 2021
935,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021
936,https://www.espncricinfo.com/ci/engine/match/4...,West Indies,lost,26 runs,Zimbabwe,28 Feb 2010
937,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,8 wickets,Zimbabwe,2 Mar 2013
938,https://www.espncricinfo.com/ci/engine/match/5...,West Indies,won,41 runs,Zimbabwe,3 Mar 2013

In [13]:
# Repeat the same step to remove all match_url from the player data 
for i in range(len(player_match_data_df)):
    for j in range(len(xigames)):
        if xigames[j] == player_match_data_df['match_url'][i]:
            player_match_data_df = player_match_data_df.drop([i], axis = 0)
            break
                                                  
player_match_data_df = player_match_data_df.reset_index(drop=True)
player_match_data_df

,match_url,player_name,player_country
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan
1,https://www.espncricinfo.com/ci/engine/match/4...,Shafiqullah Shafiq,Afghanistan
2,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Shahzad Mohammadi,Afghanistan
3,https://www.espncricinfo.com/ci/engine/match/4...,Nawroz Khan Mangal,Afghanistan
4,https://www.espncricinfo.com/ci/engine/match/4...,Mohammad Asghar Afghan,Afghanistan
...,...,...,...
26292,https://www.espncricinfo.com/ci/engine/match/5...,Sunil Philip Narine,West Indies
26293,https://www.espncricinfo.com/ci/engine/match/5...,Dwayne John Bravo,West Indies
26294,https://www.espncricinfo.com/ci/engine/match/5...,Andre Dwayne Russell,West Indies
26295,https://www.espncricinfo.com/ci/engine/match/5...,Kieron Adrian Pollard,West Indies
26296,https://www.espncricinfo.com/ci/engine/match/5...,Christopher Dion Barnwell,West Indies

In [14]:
# Doing an inital clean of the players statistics
headers = ['player_name','player_country','Matches','Bat_Inns','NO',
           'Bat_Runs','HS','Bat_Ave','BF','SR_Bat','100s','50s','4s',
           '6s','Ct','St','Mat_Bowl','Bowl_Inns','Balls','Bowl_Runs',
           'Wkts','BBI','BBM','Bowl_Ave','Bowl_Econ','Bowl_SR','4w','5w','10w']
all_players_df.columns = headers 
all_players_df = all_players_df.reset_index()
all_players_df = all_players_df.drop(['index','BF','Ct','St','Mat_Bowl','10w','BBI','Bowl_Runs','Balls','BBM'], axis = 1)
all_players_df.replace("-",'NaN', inplace=True)
all_players_df['HS'] = all_players_df['HS'].str.replace("*",'')
all_players_df

<ipython-input-14-d307e1ea6793>:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  all_players_df['HS'] = all_players_df['HS'].str.replace("*",'')

,player_name,player_country,Matches,Bat_Inns,NO,Bat_Runs,HS,Bat_Ave,SR_Bat,100s,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,Karim Sadiq Khan,Afghanistan,36,36,0,538,72,14.94,109.12,0,1,61,10,28,14,34.42,6.88,30,0,0
1,Shafiqullah Shafiq,Afghanistan,46,42,12,494,51,16.46,145.29,0,1,35,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mohammad Shahzad Mohammadi,Afghanistan,65,65,3,1936,118,31.22,134.81,1,12,218,72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nawroz Khan Mangal,Afghanistan,32,32,4,505,65,18.03,111.47,0,2,42,19,6,4,20,8,15,0,0
4,Mohammad Asghar Afghan,Afghanistan,72,66,5,1341,62,21.98,110.18,0,4,83,67,1,1,4,6,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,Loku Hettige Danushka Dilhara,Sri Lanka,2,1,1,18,18,NaN,200,0,0,0,1,2,2,15,6,15,0,0
1499,Hettiarachchi Gamage Jeevantha Mahesh Kulatunga,Sri Lanka,2,2,0,19,11,9.5,50,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500,Abzal S Dean,Canada,2,2,0,8,7,4,80,0,0,0,0,2,2,16,8,12,0,0
1501,Sandeep Jyoti,Canada,2,2,1,10,10,10,50,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1502,Pathum Nissanka Silva,Sri Lanka,4,3,0,81,39,27,115.71,0,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# The three data sets that have been cleaned are merged in this cell. The chosen merge is outer merge to retian all data from both sets. 
matches_df = pd.merge(player_match_data_df, all_matches_with_data_df, on=['match_url'], how='outer')
merged_df = pd.merge(matches_df, all_players_df, on=['player_name'], how='outer')
merged_df = merged_df.drop_duplicates()
merged_df = merged_df.reset_index(drop=True)
merged_df

,match_url,player_name,player_country_x,team_1,Result,winning_margin,team_2,Date,player_country_y,Matches,...,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
1,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,5 wickets,Canada,4 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
2,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,13 runs,Ireland,9 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
3,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,14 runs,Scotland,10 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
4,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010,Afghanistan,36.0,...,1,61,10,28,14,34.42,6.88,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19877,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021,Sri Lanka,4.0,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19878,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Ireland,lost,7 wickets,U.A.E.,10 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19879,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Namibia,won,5 wickets,Scotland,9 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19880,https://www.espncricinfo.com/ci/engine/match/1...,NaN,NaN,Namibia,won,14 runs,P.N.G.,10 Oct 2021,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19881,https://www.espncricinfo.com/ci/engine/match/5...,NaN,NaN,New Zealand,lost,56 runs,West Indies,30 Jun 2012,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# There are some players that have played T20I for two nations, this cell locates and stores all of those players
# It then removes the games where they played for two nations
merged_df_copy = merged_df.copy()

players_diff_name = []

for i in range(len(merged_df_copy)):
    if merged_df_copy['player_country_x'][i] != merged_df_copy['team_1'][i] and merged_df_copy['player_country_x'][i] != merged_df_copy['team_2'][i]:
        players_diff_name.append(merged_df_copy['player_name'][i])

merged_df = merged_df[~merged_df['player_name'].isin(players_diff_name)] 
merged_df = merged_df.reset_index(drop=True)

In [14]:
merged_df = merged_df.drop(labels=['player_country_y'], axis=1)
merged_df

,match_url,player_name,player_country_x,team_1,Result,winning_margin,team_2,Date,Matches,Bat_Inns,...,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,5 wickets,Ireland,1 Feb 2010,36.0,36,...,1,61,10,28,14,34.42,6.88,30,0,0
1,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,5 wickets,Canada,4 Feb 2010,36.0,36,...,1,61,10,28,14,34.42,6.88,30,0,0
2,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,13 runs,Ireland,9 Feb 2010,36.0,36,...,1,61,10,28,14,34.42,6.88,30,0,0
3,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,won,14 runs,Scotland,10 Feb 2010,36.0,36,...,1,61,10,28,14,34.42,6.88,30,0,0
4,https://www.espncricinfo.com/ci/engine/match/4...,Karim Sadiq Khan,Afghanistan,Afghanistan,lost,4 wickets,Netherlands,12 Feb 2010,36.0,36,...,1,61,10,28,14,34.42,6.88,30,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19579,https://www.espncricinfo.com/ci/engine/match/3...,Abzal S Dean,Canada,Sri Lanka,won,15 runs,Canada,12 Oct 2008,2.0,2,...,0,0,0,2,2,16,8,12,0,0
19580,https://www.espncricinfo.com/ci/engine/match/3...,Sandeep Jyoti,Canada,Sri Lanka,won,15 runs,Canada,12 Oct 2008,2.0,2,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19581,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,4 wickets,West Indies,3 Mar 2021,4.0,3,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19582,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,won,43 runs,West Indies,5 Mar 2021,4.0,3,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19583,https://www.espncricinfo.com/ci/engine/match/1...,Pathum Nissanka Silva,Sri Lanka,Sri Lanka,lost,3 wickets,West Indies,7 Mar 2021,4.0,3,...,0,8,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
cols = ['Bat_Inns','NO','Bat_Runs','HS','Bat_Ave','SR_Bat',
        '100s','50s','4s','6s','Bowl_Inns','Wkts','Bowl_Ave',
        'Bowl_Econ','Bowl_SR','4w','5w']
merged_df[cols] = merged_df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [16]:
# Group all data by match_url to remove duplicates 
grouped_df = merged_df.groupby(['match_url'])

# Obtain Mean, Maximum, and Minimum that will be used as the basis for the training the model
# All player stats are averaged for each each e.g. each match_url will have one set of stats
data_agg_df = grouped_df['Matches','Bat_Inns','NO','Bat_Runs','HS',
           'Bat_Ave','SR_Bat','100s','50s','4s','6s',
           'Bowl_Inns','Wkts','Bowl_Ave','Bowl_Econ',
           'Bowl_SR','4w','5w'].agg(['mean','max','min']).reset_index()

<ipython-input-16-e229c93fff7d>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_agg_df = grouped_df['Matches','Bat_Inns','NO','Bat_Runs','HS',

In [17]:
data_agg_df

                                             match_url    Matches         \
                                                             mean    max
0    https://www.espncricinfo.com/ci/engine/match/1...  29.000000   84.0
1    https://www.espncricinfo.com/ci/engine/match/1...  27.136364   84.0
2    https://www.espncricinfo.com/ci/engine/match/1...  28.909091   84.0
3    https://www.espncricinfo.com/ci/engine/match/1...  24.761905  106.0
4    https://www.espncricinfo.com/ci/engine/match/1...  30.500000   98.0
..                                                 ...        ...    ...
931  https://www.espncricinfo.com/ci/engine/match/9...  52.333333  116.0
932  https://www.espncricinfo.com/ci/engine/match/9...  60.350000  111.0
933  https://www.espncricinfo.com/ci/engine/match/9...  31.200000   74.0
934  https://www.espncricinfo.com/ci/engine/match/9...  37.000000   84.0
935  https://www.espncricinfo.com/ci/engine/match/9...  36.954545   84.0

            Bat_Inns                    NO             ... Bowl_Econ  \
      min       mean    max  min      mean   max  min  ...       min
0     3.0  19.409091   76.0  2.0  4.454545  12.0  0.0  ...      6.30
1     3.0  20.318182   76.0  3.0  4.136364  12.0  0.0  ...      6.30
2     3.0  21.090909   76.0  3.0  4.409091  12.0  0.0  ...      6.30
3     1.0  19.809524   99.0  1.0  3.333333  10.0  0.0  ...      5.92
4     1.0  24.000000   85.0  1.0  5.714286  42.0  0.0  ...      6.66
..    ...        ...    ...  ...       ...   ...  ...  ...       ...
931  13.0  41.428571  106.0  4.0  8.666667  31.0  0.0  ...      6.13
932  13.0  47.350000  103.0  5.0  9.950000  42.0  0.0  ...      6.26
933   3.0  22.950000   44.0  1.0  4.100000  12.0  0.0  ...      6.11
934   3.0  32.000000   81.0  4.0  5.578947  22.0  0.0  ...      6.77
935   5.0  30.636364   81.0  5.0  5.500000  22.0  0.0  ...      6.77

       Bowl_SR                    4w                  5w
          mean   max   min      mean  max  min      mean  max  min
0    22.312500  60.0  14.3  0.352941  2.0  0.0  0.176471  2.0  0.0
1    23.171429  60.0  14.3  0.266667  2.0  0.0  0.200000  2.0  0.0
2    23.066667  60.0  14.3  0.187500  2.0  0.0  0.187500  2.0  0.0
3    22.130769  39.6  14.5  0.285714  1.0  0.0  0.000000  0.0  0.0
4    23.228571  36.0  14.8  0.266667  2.0  0.0  0.066667  1.0  0.0
..         ...   ...   ...       ...  ...  ...       ...  ...  ...
931  24.093750  45.6  16.0  0.500000  3.0  0.0  0.062500  1.0  0.0
932  25.831250  68.0  11.1  0.500000  4.0  0.0  0.062500  1.0  0.0
933  20.514286  29.4  13.0  0.533333  3.0  0.0  0.066667  1.0  0.0
934  21.764286  28.8  14.3  0.071429  1.0  0.0  0.071429  1.0  0.0
935  22.642857  30.0  14.3  0.071429  1.0  0.0  0.071429  1.0  0.0

[936 rows x 55 columns]

In [18]:
# Creating a dataframe that will store the required data
final_df = merged_df.copy()
final_df = final_df.drop_duplicates(subset='match_url')
final_df = final_df[['match_url', 'player_country_x','team_1','Result','team_2','Date']]
final_df = final_df.reset_index(drop=True)

In [19]:
final_df = final_df.sort_values(by='match_url',ascending=True)
final_df = final_df.reset_index(drop=True)
final_df

,match_url,player_country_x,team_1,Result,team_2,Date
0,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,Australia,lost,Sri Lanka,17 Feb 2017
1,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,Australia,lost,Sri Lanka,19 Feb 2017
2,https://www.espncricinfo.com/ci/engine/match/1...,Sri Lanka,Australia,won,Sri Lanka,22 Feb 2017
3,https://www.espncricinfo.com/ci/engine/match/1...,Ireland,Ireland,lost,Hong Kong,5 Sep 2016
4,https://www.espncricinfo.com/ci/engine/match/1...,India,India,lost,Zimbabwe,18 Jun 2016
...,...,...,...,...,...,...
931,https://www.espncricinfo.com/ci/engine/match/9...,Pakistan,Pakistan,won,Sri Lanka,4 Mar 2016
932,https://www.espncricinfo.com/ci/engine/match/9...,India,Bangladesh,lost,India,6 Mar 2016
933,https://www.espncricinfo.com/ci/engine/match/9...,Netherlands,Netherlands,won,U.A.E.,3 Feb 2016
934,https://www.espncricinfo.com/ci/engine/match/9...,Sri Lanka,Australia,won,Sri Lanka,6 Sep 2016
935,https://www.espncricinfo.com/ci/engine/match/9...,Sri Lanka,Australia,won,Sri Lanka,9 Sep 2016

In [20]:
# Adding a new column called Output, this is what the model will predict. If team 1 has won record 1 if not record 0
list = []
for i in range(len(final_df)):
    if final_df['team_1'][i] == final_df['player_country_x'][i]:
        list.append(1)
    else:
        list.append(0)
        
final_df['Output'] = list

In [21]:
# Adding the Combined Team Data to the final dataframe 
final_df['Matches_avg'] = data_agg_df['Matches']['mean']
final_df['Bat_Inns_avg'] =data_agg_df['Bat_Inns']['mean']
final_df['NO_avg'] = data_agg_df['NO']['mean']
final_df['Bat_Runs_avg'] = data_agg_df['Bat_Runs']['mean']
final_df['HS_avg'] = data_agg_df['HS']['mean']
final_df['HS_max'] = data_agg_df['HS']['max']
final_df['SR_bat_avg'] = data_agg_df['SR_Bat']['mean']
final_df['SR_bat_max'] = data_agg_df['SR_Bat']['max']
final_df['100s_avg'] = data_agg_df['100s']['mean']
final_df['100s_max'] = data_agg_df['100s']['max']
final_df['50s_avg'] = data_agg_df['50s']['mean']
final_df['50s_max'] = data_agg_df['50s']['max']
final_df['4s_avg'] = data_agg_df['4s']['mean']
final_df['4s_max'] = data_agg_df['4s']['max']
final_df['6s_avg'] = data_agg_df['6s']['mean']
final_df['6s_max'] = data_agg_df['6s']['max']
final_df['Bowl_Inns_avg'] = data_agg_df['Bowl_Inns']['mean']
final_df['Wkts_avg'] = data_agg_df['Wkts']['mean']
final_df['Wkts_max'] = data_agg_df['Wkts']['max']
final_df['Bowl_ave_avg'] = data_agg_df['Bowl_Ave']['mean']
final_df['Bowl_ave_min'] = data_agg_df['Bowl_Ave']['min']
final_df['Bowl_Econ_avg'] = data_agg_df['Bowl_Econ']['mean']
final_df['Bowl_Econ_min'] = data_agg_df['Bowl_Econ']['min']
final_df['SR_bowl_avg'] = data_agg_df['Bowl_SR']['mean']
final_df['SR_bowl_min'] = data_agg_df['Bowl_SR']['min']
final_df['4w_avg'] = data_agg_df['4w']['mean']
final_df['4w_max'] = data_agg_df['4w']['max']
final_df['5w_avg'] = data_agg_df['5w']['mean']
final_df['5w_max'] = data_agg_df['5w']['max']

In [22]:
# Creating the final dataframe csv, TrainingData.csv, only data for the last ten years is included. 
final_df['Date'] = pd.to_datetime(final_df['Date'])
final_df = final_df[(final_df['Date'] > '2010-10-01')]
final_df = final_df.drop(['player_country_x','team_1','team_2','Result','Date'],axis=1)
final_df = final_df.reset_index(drop=True)
final_df.to_csv('TrainingData.csv')
final_df

,match_url,Output,Matches_avg,Bat_Inns_avg,NO_avg,Bat_Runs_avg,HS_avg,HS_max,SR_bat_avg,SR_bat_max,...,Bowl_ave_avg,Bowl_ave_min,Bowl_Econ_avg,Bowl_Econ_min,SR_bowl_avg,SR_bowl_min,4w_avg,4w_max,5w_avg,5w_max
0,https://www.espncricinfo.com/ci/engine/match/1...,0,29.000000,19.409091,4.454545,306.181818,42.818182,172.0,113.787273,150.24,...,30.124375,19.00,8.275294,6.30,22.312500,14.3,0.352941,2.0,0.176471,2.0
1,https://www.espncricinfo.com/ci/engine/match/1...,0,27.136364,20.318182,4.136364,333.318182,47.000000,172.0,120.763636,150.24,...,31.927143,19.00,8.480667,6.30,23.171429,14.3,0.266667,2.0,0.200000,2.0
2,https://www.espncricinfo.com/ci/engine/match/1...,0,28.909091,21.090909,4.409091,337.500000,46.045455,172.0,119.104091,150.24,...,31.238667,19.00,8.291250,6.30,23.066667,14.3,0.187500,2.0,0.187500,2.0
3,https://www.espncricinfo.com/ci/engine/match/1...,1,24.761905,19.809524,3.333333,298.000000,40.619048,124.0,94.638095,132.14,...,28.086154,16.00,7.740000,5.92,22.130769,14.5,0.285714,1.0,0.000000,0.0
4,https://www.espncricinfo.com/ci/engine/match/1...,1,30.500000,24.000000,5.714286,445.238095,43.142857,110.0,100.774762,142.19,...,32.928571,18.85,8.413333,6.66,23.228571,14.8,0.266667,2.0,0.066667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757,https://www.espncricinfo.com/ci/engine/match/9...,1,52.333333,41.428571,8.666667,748.095238,51.095238,104.0,112.517619,151.63,...,31.820625,19.39,7.695000,6.13,24.093750,16.0,0.500000,3.0,0.062500,1.0
758,https://www.espncricinfo.com/ci/engine/match/9...,0,60.350000,47.350000,9.950000,989.350000,55.250000,118.0,114.485000,145.34,...,35.628750,11.66,7.871875,6.26,25.831250,11.1,0.500000,4.0,0.062500,1.0
759,https://www.espncricinfo.com/ci/engine/match/9...,1,31.200000,22.950000,4.100000,385.650000,51.350000,133.0,102.213000,126.10,...,25.122143,16.59,7.415333,6.11,20.514286,13.0,0.533333,3.0,0.066667,1.0
760,https://www.espncricinfo.com/ci/engine/match/9...,0,37.000000,32.000000,5.578947,654.315789,54.105263,145.0,113.407368,158.92,...,29.467143,19.00,8.085000,6.77,21.764286,14.3,0.071429,1.0,0.071429,1.0
761,https://www.espncricinfo.com/ci/engine/match/9...,0,36.954545,30.636364,5.500000,607.454545,52.954545,145.0,124.012273,227.27,...,29.852143,19.00,7.891429,6.77,22.642857,14.3,0.071429,1.0,0.071429,1.0

Squad Data used for confirming the model is below.

In [23]:
squad_data = pd.read_csv('player_squad_data.csv')
squad_data = squad_data.reset_index(drop=True)
squad_data

,Player_Name,Country,Mat_Bat,Inns_Bat,NO,Runs,HS,Ave,BF,SR,...,Runs.1,Wkts,BBI,BBM,Ave.1,Econ,SR.1,4w,5w,10w
0,Merwe Gerhard Erasmus,Namibia,22.0,20,5,522,72,34.79,371,140.7,...,171,12,03-Dec,03-Dec,14.25,5.31,16,0,0,0
1,Stephan Julian Baard,Namibia,17.0,17,2,496,92,33.06,407,121.86,...,-,-,-,-,-,-,-,-,-,-
2,Karl Johan Birkenstock,Namibia,8.0,4,1,81,59,27,45,180,...,35,0,-,-,-,11.66,-,0,0,0
3,Michau Daniel du Preez,Namibia,3.0,2,2,62,33*,-,58,106.89,...,-,-,-,-,-,-,-,-,-,-
4,Jan Nicolaas Frylinck,Namibia,20.0,11,7,73,19*,18.25,62,117.74,...,378,35,Jun-24,Jun-24,10.8,5.89,11,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Glenn Dominic Phillips,New Zealand,25.0,22,4,506,108,28.11,338,149.7,...,57,2,01-Nov,01-Nov,28.5,7.6,22.5,0,0,0
241,Mitchell Josef Santner,New Zealand,52.0,37,15,335,37,15.22,264,126.89,...,1287,60,04-Nov,04-Nov,21.45,7.38,17.4,2,0,0
242,Tim Louis Seifert,New Zealand,35.0,32,4,695,84*,24.82,522,133.14,...,-,-,-,-,-,-,-,-,-,-
243,Inderbir Singh Sodhi,New Zealand,57.0,10,4,76,16*,12.66,70,108.57,...,1586,73,Apr-28,Apr-28,21.72,8.07,16.1,2,0,0
244,Timothy Grant Southee,New Zealand,83.0,35,13,249,39,11.31,174,143.1,...,2492,99,May-18,May-18,25.17,8.39,18,1,1,0

In [24]:
# Cleaning the Squad Players Data to match the training data
headers = ['player_name','player_country','Matches','Bat_Inns','NO',
           'Bat_Runs','HS','Bat_Ave','BF','SR_Bat','100s','50s','4s',
           '6s','Ct','St','Mat_Bowl','Bowl_Inns','Balls','Bowl_Runs',
           'Wkts','BBI','BBM','Bowl_Ave','Bowl_Econ','Bowl_SR','4w','5w','10w']
squad_data.columns = headers 
squad_data = squad_data.reset_index()
squad_data = squad_data.drop(['index','BF','Ct','St','Mat_Bowl','10w','BBI','Bowl_Runs','Balls','BBM'], axis = 1)
squad_data.replace("-",'NaN', inplace=True)
squad_data['HS'] = squad_data['HS'].str.replace("*",'')
squad_data

<ipython-input-24-1b66c8eabfc9>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  squad_data['HS'] = squad_data['HS'].str.replace("*",'')

,player_name,player_country,Matches,Bat_Inns,NO,Bat_Runs,HS,Bat_Ave,SR_Bat,100s,50s,4s,6s,Bowl_Inns,Wkts,Bowl_Ave,Bowl_Econ,Bowl_SR,4w,5w
0,Merwe Gerhard Erasmus,Namibia,22.0,20,5,522,72,34.79,140.7,0,5,43,24,10,12,14.25,5.31,16,0,0
1,Stephan Julian Baard,Namibia,17.0,17,2,496,92,33.06,121.86,0,4,41,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Karl Johan Birkenstock,Namibia,8.0,4,1,81,59,27,180,0,1,9,4,3,0,NaN,11.66,NaN,0,0
3,Michau Daniel du Preez,Namibia,3.0,2,2,62,33,NaN,106.89,0,0,5,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jan Nicolaas Frylinck,Namibia,20.0,11,7,73,19,18.25,117.74,0,0,4,2,19,35,10.8,5.89,11,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Glenn Dominic Phillips,New Zealand,25.0,22,4,506,108,28.11,149.7,1,2,39,29,4,2,28.5,7.6,22.5,0,0
241,Mitchell Josef Santner,New Zealand,52.0,37,15,335,37,15.22,126.89,0,0,24,11,51,60,21.45,7.38,17.4,2,0
242,Tim Louis Seifert,New Zealand,35.0,32,4,695,84,24.82,133.14,0,5,57,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Inderbir Singh Sodhi,New Zealand,57.0,10,4,76,16,12.66,108.57,0,0,4,5,55,73,21.72,8.07,16.1,2,0
244,Timothy Grant Southee,New Zealand,83.0,35,13,249,39,11.31,143.1,0,0,16,16,81,99,25.17,8.39,18,1,1

In [25]:
cols = ['Bat_Inns','NO','Bat_Runs','HS','Bat_Ave','SR_Bat',
        '100s','50s','4s','6s','Bowl_Inns','Wkts','Bowl_Ave',
        'Bowl_Econ','Bowl_SR','4w','5w']
squad_data[cols] = squad_data[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [26]:
# Obtain a set of statisics for all squad players for all nations. 
squad_group = squad_data.groupby(['player_country'])

squad_data_agg_df = squad_group['Matches','Bat_Inns','NO','Bat_Runs','HS',
           'Bat_Ave','SR_Bat','100s','50s','4s','6s',
           'Bowl_Inns','Wkts','Bowl_Ave','Bowl_Econ',
           'Bowl_SR','4w','5w'].agg(['mean','max','min']).reset_index()

<ipython-input-26-4dde3351baa4>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  squad_data_agg_df = squad_group['Matches','Bat_Inns','NO','Bat_Runs','HS',

In [27]:
squad_data_agg_df

   player_country    Matches                Bat_Inns                    NO  \
                        mean    max   min       mean    max  min      mean
0     Afghanistan  35.133333   81.0   4.0  27.400000   75.0  1.0  5.533333
1       Australia  36.555556   81.0   2.0  25.388889   81.0  1.0  5.444444
2      Bangladesh  42.357143  102.0   7.0  35.071429   94.0  5.0  5.785714
3         England  39.937500  107.0   5.0  30.500000  101.0  1.0  7.312500
4           India  38.533333  111.0   3.0  25.714286  103.0  1.0  6.428571
5         Ireland  38.642857  107.0   4.0  31.357143  100.0  4.0  5.571429
6         Namibia  13.266667   23.0   1.0   9.142857   20.0  1.0  2.571429
7     Netherlands  30.357143   74.0   7.0  21.142857   53.0  3.0  5.071429
8     New Zealand  37.866667  102.0   4.0  26.000000   98.0  1.0  5.333333
9            Oman  20.153846   35.0   4.0  14.153846   31.0  2.0  3.000000
10         P.N.G.  18.071429   28.0   1.0  13.769231   26.0  2.0  3.384615
11       Pakistan  46.437500  116.0   4.0  33.812500  106.0  1.0  7.437500
12       Scotland  31.562500   66.0   1.0  25.857143   61.0  2.0  5.071429
13   South Africa  27.866667   90.0   3.0  21.428571   80.0  3.0  4.928571
14      Sri Lanka  21.933333   59.0   3.0  18.066667   52.0  1.0  2.866667
15    West Indies  47.071429   88.0  12.0  38.285714   71.0  5.0  7.571429

               ... Bowl_Econ    Bowl_SR                    4w            \
     max  min  ...       min       mean   max   min      mean  max  min
0   22.0  0.0  ...      6.00  16.077778  26.4   4.0  0.888889  3.0  0.0
1   10.0  0.0  ...      6.25  18.120000  25.4   9.6  0.062500  1.0  0.0
2   21.0  1.0  ...      5.50  20.400000  28.6  14.9  0.900000  4.0  0.0
3   19.0  0.0  ...      6.78  21.409091  38.0  12.0  0.454545  2.0  0.0
4   24.0  0.0  ...      5.30  26.800000  68.0  14.6  0.454545  2.0  0.0
5   19.0  1.0  ...      7.00  20.281818  27.7  12.7  0.454545  2.0  0.0
6    7.0  0.0  ...      5.31  19.790000  42.0  11.0  0.166667  1.0  0.0
7   12.0  1.0  ...      5.88  20.863636  30.0  13.9  0.545455  2.0  0.0
8   15.0  0.0  ...      6.86  18.600000  43.0   8.5  0.538462  2.0  0.0
9    8.0  0.0  ...      6.48  23.744444  46.0  14.3  0.700000  3.0  0.0
10   9.0  0.0  ...      4.66  17.666667  34.0   8.0  0.166667  1.0  0.0
11  31.0  1.0  ...      6.40  19.466667  23.1  15.7  0.363636  1.0  0.0
12  12.0  1.0  ...      4.25  18.276923  34.8   6.0  0.307692  2.0  0.0
13  25.0  1.0  ...      4.22  17.688889  26.0  13.1  0.272727  2.0  0.0
14   8.0  0.0  ...      6.57  31.022222  72.0  14.1  0.222222  1.0  0.0
15  18.0  2.0  ...      6.92  17.330000  22.5   7.1  0.700000  3.0  0.0

          5w
        mean  max  min
0   0.333333  2.0  0.0
1   0.125000  2.0  0.0
2   0.200000  1.0  0.0
3   0.000000  0.0  0.0
4   0.090909  1.0  0.0
5   0.000000  0.0  0.0
6   0.166667  1.0  0.0
7   0.000000  0.0  0.0
8   0.153846  1.0  0.0
9   0.000000  0.0  0.0
10  0.166667  1.0  0.0
11  0.090909  1.0  0.0
12  0.153846  1.0  0.0
13  0.090909  1.0  0.0
14  0.000000  0.0  0.0
15  0.100000  1.0  0.0

[16 rows x 55 columns]

In [28]:
# Creating the squad data frame it follows the same form as the training data but does not include the Output
final_squad_data = squad_data.copy()
final_squad_data = final_squad_data.drop_duplicates('player_country')
final_squad_data = final_squad_data[['player_country']]
final_squad_data = final_squad_data.sort_values(by='player_country', ascending=True)
final_squad_data = final_squad_data.reset_index(drop=True)

final_squad_data['Matches_avg'] = squad_data_agg_df['Matches']['mean']
final_squad_data['Bat_Inns_avg'] = squad_data_agg_df['Bat_Inns']['mean']
final_squad_data['NO_avg'] = squad_data_agg_df['NO']['mean']
final_squad_data['Bat_Runs_avg'] = squad_data_agg_df['Bat_Runs']['mean']
final_squad_data['HS_avg'] = squad_data_agg_df['HS']['mean']
final_squad_data['HS_max'] = squad_data_agg_df['HS']['max']
final_squad_data['SR_bat_avg'] = squad_data_agg_df['SR_Bat']['mean']
final_squad_data['SR_bat_max'] = squad_data_agg_df['SR_Bat']['max']
final_squad_data['100s_avg'] = squad_data_agg_df['100s']['mean']
final_squad_data['100s_max'] = squad_data_agg_df['100s']['max']
final_squad_data['50s_avg'] = squad_data_agg_df['50s']['mean']
final_squad_data['50s_max'] = squad_data_agg_df['50s']['max']
final_squad_data['4s_avg'] = squad_data_agg_df['4s']['mean']
final_squad_data['4s_max'] = squad_data_agg_df['4s']['max']
final_squad_data['6s_avg'] = squad_data_agg_df['6s']['mean']
final_squad_data['6s_max'] = squad_data_agg_df['6s']['max']
final_squad_data['Bowl_Inns_avg'] = squad_data_agg_df['Bowl_Inns']['mean']
final_squad_data['Wkts_avg'] = squad_data_agg_df['Wkts']['mean']
final_squad_data['Wkts_max'] = squad_data_agg_df['Wkts']['max']
final_squad_data['Bowl_ave_avg'] = squad_data_agg_df['Bowl_Ave']['mean']
final_squad_data['Bowl_ave_min'] = squad_data_agg_df['Bowl_Ave']['min']
final_squad_data['Bowl_Econ_avg'] = squad_data_agg_df['Bowl_Econ']['mean']
final_squad_data['Bowl_Econ_min'] = squad_data_agg_df['Bowl_Econ']['min']
final_squad_data['SR_bowl_avg'] = squad_data_agg_df['Bowl_SR']['mean']
final_squad_data['SR_bowl_min'] = squad_data_agg_df['Bowl_SR']['min']
final_squad_data['4w_avg'] = squad_data_agg_df['4w']['mean']
final_squad_data['4w_max'] = squad_data_agg_df['4w']['max']
final_squad_data['5w_avg'] = squad_data_agg_df['5w']['mean']
final_squad_data['5w_max'] = squad_data_agg_df['5w']['max']

In [29]:
final_squad_data.to_csv('SquadData.csv')

In [30]:
final_squad_data

,player_country,Matches_avg,Bat_Inns_avg,NO_avg,Bat_Runs_avg,HS_avg,HS_max,SR_bat_avg,SR_bat_max,100s_avg,...,Bowl_ave_avg,Bowl_ave_min,Bowl_Econ_avg,Bowl_Econ_min,SR_bowl_avg,SR_bowl_min,4w_avg,4w_max,5w_avg,5w_max
0,Afghanistan,35.133333,27.400000,5.533333,555.466667,57.666667,162.0,125.007333,160.00,0.133333,...,19.708889,4.00,7.100000,6.00,16.077778,4.0,0.888889,3.0,0.333333,2.0
1,Australia,36.555556,25.388889,5.444444,542.555556,53.666667,172.0,127.463333,234.78,0.333333,...,23.718667,10.00,8.093750,6.25,18.120000,9.6,0.062500,1.0,0.125000,2.0
2,Bangladesh,42.357143,35.071429,5.785714,589.857143,45.571429,84.0,108.489286,144.00,0.000000,...,26.467778,15.55,7.442000,5.50,20.400000,14.9,0.900000,4.0,0.200000,1.0
3,England,39.937500,30.500000,7.312500,596.375000,53.562500,103.0,123.708125,167.47,0.125000,...,29.258182,20.76,8.532727,6.78,21.409091,12.0,0.454545,2.0,0.000000,0.0
4,India,38.533333,25.714286,6.428571,662.071429,47.642857,118.0,118.130714,197.14,0.428571,...,35.890000,19.57,7.792727,5.30,26.800000,14.6,0.454545,2.0,0.090909,1.0
5,Ireland,38.642857,31.357143,5.571429,549.285714,51.928571,124.0,117.232143,148.14,0.142857,...,27.105455,14.91,7.900000,7.00,20.281818,12.7,0.454545,2.0,0.000000,0.0
6,Namibia,13.266667,9.142857,2.571429,170.000000,36.000000,92.0,105.559286,180.00,0.000000,...,20.616000,10.80,6.914167,5.31,19.790000,11.0,0.166667,1.0,0.166667,1.0
7,Netherlands,30.357143,21.142857,5.071429,395.000000,52.428571,133.0,103.898571,137.20,0.071429,...,27.805455,16.00,7.924545,5.88,20.863636,13.9,0.545455,2.0,0.000000,0.0
8,New Zealand,37.866667,26.000000,5.333333,543.933333,51.333333,108.0,118.993333,157.28,0.200000,...,26.313333,11.71,8.519231,6.86,18.600000,8.5,0.538462,2.0,0.153846,1.0
9,Oman,20.153846,14.153846,3.000000,230.615385,38.769231,72.0,107.663846,171.42,0.000000,...,27.838889,16.25,7.135000,6.48,23.744444,14.3,0.700000,3.0,0.000000,0.0
10,P.N.G.,18.071429,13.769231,3.384615,232.076923,38.692308,107.0,111.427692,177.77,0.076923,...,17.127778,6.22,6.183333,4.66,17.666667,8.0,0.166667,1.0,0.166667,1.0
11,Pakistan,46.437500,33.812500,7.437500,719.250000,54.875000,122.0,120.441875,188.88,0.125000,...,25.312222,21.73,8.615455,6.40,19.466667,15.7,0.363636,1.0,0.090909,1.0
12,Scotland,31.562500,25.857143,5.071429,495.071429,47.000000,127.0,117.697857,158.33,0.142857,...,23.423077,14.20,8.336154,4.25,18.276923,6.0,0.307692,2.0,0.153846,1.0
13,South Africa,27.866667,21.428571,4.928571,491.928571,50.071429,101.0,112.756429,165.68,0.071429,...,21.514444,14.33,9.240909,4.22,17.688889,13.1,0.272727,2.0,0.090909,1.0
14,Sri Lanka,21.933333,18.066667,2.866667,290.800000,38.533333,84.0,103.726000,166.66,0.000000,...,40.775556,15.47,7.763333,6.57,31.022222,14.1,0.222222,1.0,0.000000,0.0
15,West Indies,47.071429,38.285714,7.571429,755.142857,59.500000,125.0,121.215000,158.03,0.285714,...,23.674000,12.00,8.281000,6.92,17.330000,7.1,0.700000,3.0,0.100000,1.0